<div id="<%= dom_id assemblies_part %>">
  <p>
    <strong>Assembly:</strong>
    <%= assemblies_part.assembly_id %>
  </p>

  <p>
    <strong>Part:</strong>
    <%= assemblies_part.part_id %>
  </p>

</div>
