<h1>Editing assemblies part</h1>

<%= render "form", assemblies_part: @assemblies_part %>

<br>

<div>
  <%= link_to "Show this assemblies part", @assemblies_part %> |
  <%= link_to "Back to assemblies parts", assemblies_parts_path %>
</div>
