<p style="color: green"><%= notice %></p>

<h1>Assemblies parts</h1>

<div id="assemblies_parts">
  <% @assemblies_parts.each do |assemblies_part| %>
    <%= render assemblies_part %>
    <p>
      <%= link_to "Show this assemblies part", assemblies_part %>
    </p>
  <% end %>
</div>

<%= link_to "New assemblies part", new_assemblies_part_path %>
