<div id="<%= dom_id assembly %>">
  <p>
    <strong>Name:</strong>
    <%= assembly.name %>
  </p>

  <p>
    <strong>Part:</strong>
    <%= assembly.part_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= assembly.book_id %>
  </p>

</div>
